# Ignore xcode build files
ios_android/MATSDKSampleProj/build_matsdksampleproj_xcode

ios_android/s3eMATSDK/build_s3ematsdk_iphone_*
ios_android/s3eMATSDK/build_s3ematsdk_android_*
ios_android/s3eMATSDK/stamp

ios_android/IFAWrapper/build_ifawrapper_iphone_*
ios_android/IFAWrapper/build_ifawrapper_android_*
ios_android/IFAWrapper/stamp

ios_android/GAIDWrapper/build_gaidwrapper_iphone_*
ios_android/GAIDWrapper/build_gaidwrapper_android_*
ios_android/GAIDWrapper/stamp

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
Resources/Configuration/Private.xcconfig
# OS X
.DS_Store
.pid_file
.sass-cache

